%p.text-secondary.wsjj
  汶上公用水务有限公司成立于2014年7月，是由原自来水公司、清源污水处理厂、佛都污水处理厂、清泉水务公司合并设立，具体负责自来水供应、二级污水处理、管道维修及校表、城市供水工程、排水工程、污水处理工程等工作，为城市公共服务企业。托管运营汶上县泉河污水处理有限公司和山东公用水污染治理有限公司汶上分公司。现有正式职工212人，资产总额3.54亿元，负债2.48亿元，所有者权益1.06亿元。其中城市供水规模5万m³/d，服务人口24万；污水处理能力8万m³/d，外排水全部执行国家一级A标准；农村供水覆盖675个自然村，6座水厂，供水能力5.6万m³/d；农村生活污水治理2020年完成85个村庄，2021年完成75个村庄，2022年计划实施119个村庄（含21年第二批24个村庄）。
%p.text-secondary.wsjj
  汶上公用水务有限公司政务热线10月份群众诉求事项办理事项，按时办结率、服务态度满意率、办理结果满意率及重点督办事项解决率均为100%，受到汶上县通报表扬；客服部被山东公用控股有限公司评为《党员示范岗》；清源污水处理厂被汶上县水务局评为《2020年度全县水务系统先进单位》；村镇供水分公司被汶上县水务局评为《2020年度全县水务系统先进单位》；汶上公用水务有限公司被济南市城镇供水排水协会评为《2020年度先进单位》；荣获山东公用控股有限公司《2020年度革新改造项目三等奖》；中共汶上公用水务有限公司总支部委员会被评为《先进基层党组织》等荣誉称号；获得安全标准化三级企业证书。
