body.application-lshome {
  font-size: 15px;
  background: image-url('body.jpg') #f5f5f5 top center no-repeat;
}
.bg-d5e7f6{
  background: #d5e7f6;
}
.font-14 {
  font-size: 14px;
}
.font-18 {
  font-size: 18px;
}
.lshome-item-title {
  color: #355481;
}
